.form-control input {
    display: block;
}

.container-sm {
    max-width: 30rem;
}

@media screen and (max-width: 576px) {
    .button-set * {
        width: 100%;
    }

    .button-set *:last-child {
        margin-top: 0.5rem;
    }

}

@media screen and (min-width: 577px) {
    .button-set * {
        width: 10rem;        
    }
}
