.form-control input {
    display: block;
}

@media screen and (max-width: 575px) {

    h3 {
        margin-top: 1.5rem;
        margin-bottom: 1rem; 
    }

    .button-set * {
        width: 100%;
    }

    .button-set *:last-child {
        margin-top: 0.5rem;
    }
}

@media screen and (min-width: 576px) {

    .container-sm {
        max-width: 30rem;
        padding-top: 7rem;
    }

    .button-set * {
        width: 10rem;        
    }
    .add-update {
        overflow: hidden;
    }
}