h3 {
    margin-top: 2rem;
}

.col-heading { 
    font-weight: bold;
}


.cats-list-row { 
    display: flex;    
    line-height: 4rem;    
    border-bottom: 0.2px solid #BEBEBE;   
}

.cats-list-col-headings {
    line-height: 2rem;
}


.col-heading, .cat-detail {
    flex: 0 1 12rem;
}

.button-col {
    flex: 0 1 8rem;
}

.add-area {
    margin-right: 3rem;
    text-align: right;
}