/* All Screen Widths */
.all-cats-title {
    padding-top: 3rem;
}

.add-area {
    margin-right: 3rem;
    text-align: right;
}

.container-sm {
    max-width: 50rem;
    padding-top: 3.5rem;

}

/* medium large and extra large screens */
.col-heading { 
    font-weight: bold;
}

.cats-list-row { 
    display: flex;     
    justify-content: center;
    line-height: 4rem;    
    border-bottom: 0.2px solid #BEBEBE;   
}

.cats-list-col-headings {
    line-height: 2rem;
}

.col-heading, .cat-detail {
    flex: 1 1 10rem;
}

.buttons-col {
    flex: 0 1 10rem;  
    display: flex;  
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* small screens */



.cat-cards {
    display: flex;
    flex-wrap: wrap;  
}

.card-content h6 {
    display: inline-block;
}

.card-content {
    width: 15rem;
    border: 0.1rem solid black;
    margin: 1rem;
    padding: 1rem;
}

