* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

.container-sm {
  
    min-height: calc(100vh - 3.5rem);
    background-color: white;
    padding-top: 3.5rem;
}

/* .not-visible {
    top: -20rem;
}

.visible {
    top: 0;
} */

/* .status-alert {
    transition: top 5s;
} */
/* .alert {
    position: absolute;
    z-index: 5rem;
    transition: transform 5s;    
} */

@media screen and (min-width: 576px ) {
    body {   
        position: relative;    
    }
    
    body:after {
        content: "";
        position: absolute; 
        background-image: url("../images/background2.jpg");
        background-position: top-left;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.4;   
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;    
        min-height: 100vh;    
    }
}

.btn {
    min-width: 5rem;
}