.container-sm {
    max-width: 30rem;
}

.label {
    width: 8rem;    
}

.data-item {
    width: 20rem;
}


@media screen and (max-width: 575px ) {
    .btn-area {
        margin-top: 1rem;
    } 

    .btn {
        min-width: 100%;
    }

    .btn-area .btn-danger {
        margin-top: 0.5rem;
    }
}

@media screen and (min-width: 576px ) {
    .btn-area {
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;
    }

    .btn {
        min-width: 10rem;
    }
}